.root {
  padding: 1rem;
  border: 1px solid #8561c5;
  flex: 1;
  min-width: 250px;
}

$size: 50px;

.image {
  width: $size;
  height: $size;
  float: left;
  margin-right: 0.25rem;
}

.words {
  margin-block-start: 0;
  margin-block-end: 0;
}

.who {
  clear: both;
  font-size: 0.5rem;
  float: right;
  font-style: italic;
  color: #6d1b7b;
  margin-top: 0.5rem;
}